.own--b-author_theme_common1 {
  line-height: 1;
  color: white;
}
.own--b-author_theme_common1 .own--b-author__text {
  margin-right: .6rem;
}
.own--b-author_theme_common1 .own--b-author__logo {
  width: 80px;
}