.own--b-image_width_16px {
  width: 16px;
}
.own--b-image_width_12px {
  width: 12px;
}
.own--b-image_width_24px {
  width: 24px;
}
.own--b-image_width_48px {
  width: 48px;
}
.own--b-image_width_95px {
  width: 95px;
}

.own--b-image_border-radius_50 {
  border-radius: 50%;
}